#root {
    height: 100%;
}

.home {
    height: 100%;
    text-align: center;
}

.sider-left {
    overflow-y: auto;
    overflow-x: hidden;
    width: 170px !important;
    flex: 0 !important;
    max-width: 170px !important;
    min-width: 170px !important;
    background-image: linear-gradient(to bottom, #4286F4, #2980b9, #6dd5fa);
    //width: 15% !important;
    //flex: 0 !important;
    //max-width: 15% !important;
    //min-width: 15% !important;
    //background-image: linear-gradient(to bottom, #4286F4, #2980b9, #6dd5fa);
}
.sider-right {
    width: calc(100% - 170px) !important;
    flex: 0 1 !important;
    max-width: calc(100% - 170px) !important;
    min-width: calc(100% - 170px) !important;
    //width: 85% !important;
    //flex: 0 1 !important;
    //max-width: 85% !important;
    //min-width: 85% !important;
    //background-color: white;
    //border-right: 1px solid #dee0e3;
    background: none;
}